{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reestablecer datos</title>
    {% tailwind_css %}
  </head>
  <body>
    <main>
      <h1 class="bg-slate-300 hover:bg-orange-400">Reestablecer datos</h1>
      <h2>
        <a href="{% url 'login' %}">Iniciar sesión</a>
      </h2>
    </main>
  </body>
</html>
